@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --bg-gray: #ddd;
  --color-primary: #4d41c0;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: var(--bg-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: var(--color-primary);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 25px;
  font-weight: 700px;
}

nav a {
  font-size: 16px;
  font-weight: 400;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.contact_container {
  display: flex;
  align-items: center;
}

.contact_container img {
  margin-right: 10px;
}
